name: Build
on: [push, pull_request ]
jobs:
  build:
    runs-on: ubuntu-20.04

    env:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      DOTNET_CLI_TELEMETRY_OPTOUT: 1

    steps:
    - name: Install .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'

    - name: Fetch sources
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Build packages
      run: |
        dotnet pack src/build-image --configuration Release --output src/build-image

    - name: Publish packages
      run: |
        dotnet nuget push -s https://www.myget.org/F/tmds/api/v2/package -k "${{ secrets.NUGET_APIKEY }}" src/build-image/*.nupkg
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
